body {
   box-sizing: border-box;
   font-size: 14px;
}

.page-wrapper {
   height: 100vh;
   overflow: hidden;
}

.sidebar {
   width: 300px;
   height: 100%;
   border-right: 1px solid #999;
   position: fixed;
   left: 0;
   top: 0;
}
.sidebar .title-app {
   border-bottom: 1px solid #ddd;
   padding: 10px 10px;
   display: flex;
}
.sidebar .title-app h1 {
   margin: 0;
   padding: 0;
   font-size: 18px;
}
.sidebar .playlist {
   padding: 20px 0;
}
.sidebar .playlist .caption {
   display: flex;
   padding: 0 15px;
   margin: 0 0 10px 0;
}
.sidebar .playlist .caption .title {
   font-size: 12px;
   font-weight: 900;
   color: #777;
   text-transform: uppercase;
   flex: 1;
}
.sidebar .playlist .caption button {
   padding: 0;
   margin: 0;
   background-color: transparent;
   cursor: pointer;
   border: 0;
}
.sidebar .playlist .list {
   list-style: none;
   padding: 0;
   margin: 0;
}
.sidebar .playlist .list li {
   padding: 3px 15px;
   display: flex;
}
.sidebar .playlist .list li .icon {
   margin: 0 10px 0 0;
   color: #666;
}
.sidebar .playlist .list li .playlist-name {
   flex: 1;
}
.sidebar .playlist .list li .pnav.hide {
   display: none;
}
.sidebar .playlist .list li:hover .pnav.hide {
   display: block;
}
.sidebar .playlist .list li .pnav button {
   padding: 0;
   margin: 0;
   border: 0;
   background-color: transparent;
   font-size: 8px;
}

.mainbar {
   width: calc(100% - 300px);
   margin-left: 300px;
   height: 100%;
}

.playbar {
   height: 90px;
   background-color: #ddd;
}

.control-buttons {
   margin: 0;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.control-buttons button {
   border-radius: 50%;
   border: 0;
   background-color: #f4f4f4;
}
.control-buttons .play {
   width: 50px;
   height: 50px;
   margin: 0 10px;
}
.control-buttons .rewind,
.control-buttons .forward {
   width: 35px;
   height: 35px;
}

.progress-container {
   background-color: #eee;
   display: flex;
   margin: 10px 0 0 0;
}
.progress-container .icon {
   padding: 15px 25px;
   background-color: #fff;
}
.progress-container .main-wrapper {
   flex: 1;
   position: relative;
}
.progress-container .main-wrapper .song-name {
   margin: 0 auto;
   padding: 22px 0 21px 0;
   width: 70%;
   font-weight: normal;
   font-size: 16px;
}
.progress-container .main-wrapper .progress {
   height: 5px;
   background-color: #ccc;
}
.progress-container .main-wrapper .progress .filled {
   height: 5px;
   width: 45%;
   background-color: blue;
}
.progress-countdown,
.progress-countup {
   font-size: 12px;
   position: absolute;
   bottom: 10px;
   font-weight: 500;
}
.progress-countdown {
   left: 5px;
}
.progress-countup {
   right: 5px;
}

.volume-wrapper {
   width: 70%;
   margin: auto;
}

.song-list-container {
   padding: 20px;
   box-sizing: border-box;
   height: calc(100% - 160px);
   overflow-y: scroll;
}
.song-list {
   list-style: none;
   padding: 0;
   margin: 0;
}
.song-list li {
   padding: 10px 0;
   border-bottom: 1px solid #ddd;
   display: flex;
}
.song-list li.selected {
   background-color: #efefef;
}
.song-list li .btn-play {
   margin-right: 20px;
}
.song-list li .btn-play button {
   border-radius: 3px;
   border: 1px solid #999;
   background-color: #efefef;
   padding: 5px 10px;
   cursor: pointer;
}
.song-list li .song-name {
   padding: 7px 0;
}

.bottom-bar {
   border-top: 1px solid #999;
   padding: 15px;
   height: 70px;
   box-sizing: border-box;
   display: flex;
}
.bottom-bar .add-file {
   position: relative;
   margin: 0 20px 0 0;
}
.bottom-bar .add-file input {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   position: absolute;
   z-index: -1;
}
.bottom-bar .add-file input + label {
   display: flex;
   align-items: center;
   text-transform: uppercase;
   color: white;
   background-color: #076ddb;
   border: 1px solid #054c99;
   cursor: pointer;
   padding: 5px 12px;
   border-radius: 3px;
   font-weight: 700;
   font-size: 14px;
}
.bottom-bar .add-file input:focus + label,
.bottom-bar .add-file input + label:hover {
   background-color: #0959b0;
}
.bottom-bar .add-file label .icon,
.bottom-bar .clear-all .icon {
   margin: 0 5px 0 0;
}

.bottom-bar .clear-all {
   background-color: #ff0000;
   padding: 5px 12px;
   border: 0;
   color: #fff;
   text-transform: uppercase;
   font-weight: 700;
   display: flex;
   align-items: center;
   font-size: 14px;
   border-radius: 3px;
   cursor: pointer;
}

.bottom-bar .bottom-navigation {
   flex: 1;
   text-align: right;
}

.tb-songlist {
   width: 100%;
   border: 0;
   border-collapse: collapse;
}
.tb-songlist .btn-play button {
   border-radius: 3px;
   border: 1px solid #999;
   background-color: #efefef;
   padding: 5px 10px;
   cursor: pointer;
}
.tb-songlist thead {
   margin: 0 0 10px 0;
}
.tb-songlist thead tr td {
   padding: 10px 10px;
   margin: 0 0 10px 0;
   font-weight: 500;
}
.tb-songlist thead tr td:nth-child(2),
.tb-songlist thead tr td:nth-child(3),
.tb-songlist thead tr td:nth-child(4) {
   border-left: 1px solid #ddd;
}
.tb-songlist tbody tr td {
   padding: 8px 5px;
}
.tb-songlist tbody tr td:first-child {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   width: 50px;
   padding-left: 8px;
}
.tb-songlist tbody tr td:last-child {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
.tb-songlist tbody tr td:nth-child(3),
.tb-songlist tbody tr td:nth-child(4),
.tb-songlist tbody tr td:nth-child(5) {
   width: 100px;
}
.tb-songlist tbody tr td:nth-child(6) {
   width: 30px;
}
.tb-songlist tbody tr td .del-song {
   padding: 0;
   margin: 0;
   border: 0;
   background-color: transparent;
   cursor: pointer;
   color: rgb(255, 83, 83);
   display: none;
}
.tb-songlist tbody tr:hover td .del-song {
   display: block;
}
.tb-songlist tbody tr:nth-child(even) {
   background-color: transparent;
}
.tb-songlist tbody tr:nth-child(odd) {
   background-color: #f9f9f9;
}
.tb-songlist tbody tr:hover {
   background-color: #eee;
}
.tb-songlist tbody tr.selected {
   background-color: #0f5ad4;
   color: #fff;
}
